# IDEA files
.idea

# IntelliJ files
*.iml

# Eclipse files
.project
.classpath
.settings

# Maven
target/

# Maven release plugin files
pom.xml.releaseBackup
release.properties

# Temporary files
*~
